@font-face {
  font-family: 'HANAMDAUM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  width: 100vw;
  font-family: 'HANAMDAUM';
  background-color: rgb(255, 218, 188);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body h1 {
  width: 60%;
  font-size: 2.5rem;
  font-family: 'HANAMDAUM';
  text-align: center;
  margin-top: 3rem;
  background-color: rgb(0, 225, 177);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 5rem;
}

form input {
  width: 50rem;
  height: 3rem;
  text-align: center;
}

ul {
  width: 50rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  width: 60%;
  margin: 1rem;
  background-color: rgb(0, 225, 177);
}

li span {
  font-family: 'HANAMDAUM';
  background-color: rgb(0, 225, 177);
}

.todo__delete {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}